<div class="author-list">
  <h1><%= title %></h1>
  <% if (author_list.length > 0) { %>
    <ul>
      <% author_list.forEach(author => { %>
        <li>
          <a href=<%= author.url %>><%= author.name %></a> (<%= author.lifespan %>)
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>There are no authors</p>
  <% } %>
</div>