<div class="book-list">
  <h1><%= title %></h1>
  <% if (book_list.length > 0) { %>
    <ul>
      <% book_list.forEach(book => { %>
        <li>
          <a href=<%= book.url %>><%= book.title %></a> (<%= book.author.name %>)
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>There are no books</p>
  <% } %>
</div>